/* Custom */
@font-face {
  font-family: 'Aniron';
  src: url('../fonts/aniron.ttf') format('truetype')
}

@media (min-width: 48em) {
  .content {
    /* position: flex; */
    height: auto;
    min-width: 5rem;
    margin-left: 22rem;
  }
}

.content {
  background-color: rgb(34, 34, 34);
  /* border: 20px solid #000000f8; */
  height: 100vh;
}

.homepage-background {
  /* border: 20px solid  #000000f8; */
  /* border: 20px solid  #000000f8; */
  /* background-image: url("https://i.imgur.com/CyGOhqC.jpg"); */
  /* position: relative; */
  /* background-size: cover; */
  /* background-image: url(../AGO.png); */
  align-self: auto;
}

.homepage-content {
  position: relative;
  text-align: left;
  font-size: 1vw;
  color: black;
  /* height: 100vh; */
  /* padding: 1em; */
  /* margin:auto; */
  /* width: 25vw; */
}

.content-header {
  font-family: 'Aniron', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #ffb144;
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-shadow: 5px 5px #000000;
  position: sticky;
}

.content-subtitle {
  text-align: center;
  color: white;
  text-shadow: 3px 3px #000000;
  /* font-family: 'Aniron', sans-serif; */
  font-style: italic;
  font-family: "Parix";
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.content-body {
  /* background-color: rgba(198, 171, 16, 0.104); */
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  text-shadow: 3px 3px #000000;
  padding-bottom: 35px;
  /* position: relative; */
  /* width: 50vw; */
  /* height: 200vw; */
}

.content-body>h2 {
  /* font-size: 30px; */
  font-family: 'Aniron', sans-serif;
  color: #ffb144;
  /* font-style: italic; */
  padding-left: 0px;
  padding-bottom: 0px;
}

/* .content-body>h3 {
  font-size: 40px;
}

.content-body>h4 {
  font-size: 35px;
} */

.content-body>p,li {
  font-size: 23px;
}

/* ::-webkit-scrollbar {
    display: none;
  } */



/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
  background: #3e3e3e;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e3e3e;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb144;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f69b1c;
}

.gallery-wrapper {
  padding: 1em;
  /* width: 100vw; */
  /* height: 100vw; */
}


/* Line Break */
/* Large rounded green border */
hr {
  border: 5px solid rgba(213, 136, 29, 0.826);
  border-radius: 5px;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
 .sidebar {
  padding: 1rem;
  /* border: 20px solid #000000; */
  border-width: 20px 10px 20px 20px;
  text-align: center;
  background-color: rgb(34, 34, 34);
  text-shadow: 3px 3px #000000;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 19rem;
  }
}

/* Sidebar links */
.sidebar a {
  /* font-family: 'Aniron', sans-serif; */
}

/* Links */
#TableOfContents  a:link {
  color: #ffb144;
}

#TableOfContents  a:visited {
  color: #f4ab44;
}

#TableOfContents  a:hover {
  color: #ffc067ba;
}

#TableOfContents  a:active {
  color: #a05d00;
}


/* Table of Contents */
/* aside {
  text-align: center;
}

aside ul {
  display: inline-block;
  text-align: left;
} */

/* Top section */

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
  padding-top: 5px;
}

/* Sidebar Links */
.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}
.sidebar-nav a {
  font-size: 40px;
  color: #ffb144;
}

.sidebar-bottom {
  padding: 5px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  font-style: italic;
  color: grey;
  font-size: 20px;
}


/* Discord Embed */
.discordEmbed {
  width: 325px;
  height: 50px;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

 @media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

/* List Items */
.list-item {
  font-size: 35px;
  color: #ffb144;
}

::marker {
  color: #f69b1c;
  font-size: 25px;
}

.content-body-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

/* Code */
code {
  font-size: 20px;
  color: #ffb245;
  text-shadow: 2px 2px #000000;
}

/* Audio Player */
.audio-player {
  width: 80%;
  padding: 10px;
}

.audio-player-container {
  text-align: center;
}

audio::-webkit-media-controls-panel {
  background-color: #ffb245;
}

audio::-webkit-media-controls-mute-button {
  background-color: rgba(179, 125, 0, 0.7);
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(186, 132, 6, 0.7);
}


audio::-webkit-media-controls-current-time-display {
  color: rgb(0, 0, 0);
}

audio::-webkit-media-controls-time-remaining-display {
  color: rgb(0, 0, 0);
}

audio::-webkit-media-controls-timeline {
  background-color: rgba(197, 140, 5, 0);
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: rgba(255, 179, 0, 0.7);
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

/* YouTube Embed */
iframe {
  color: black;
  width: 75%;
}

.download-embed-homepage {
  text-align: center;
  width: 100%;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  color: #ffb144;
}

h1 {
  font-size: 50px;
  font-family: 'Aniron', sans-serif;
}

h2 {
  font-size: 35px;
  font-family: 'Aniron', sans-serif;
}

h3 {
  font-size: 30px;
}

h4{
  font-size: 25px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 10px;
}

/* 404 */
.title-404 {
  padding-top: 25px;
  font-family: 'Aniron', sans-serif;
  text-shadow: 5px 5px #000000;
}

.main-404 {
  text-align: center;
}

.content-404{
  font-size: 25px;
  text-shadow: 5px 5px #000000;
  color: #ffb144;
  height: auto;
  padding: 5%;
}

.page-wrapper {
  height: 100vh;
  /* width: 100vw; */
}

.sidebar img {
  border-radius: 50%;
  filter: drop-shadow(10px 10px 4px #000000);
}

body {
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

/* Fade In */
.content-body {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}