.sidebar {
  display: none !important;
}

/* .container {
  margin: 0 auto;
  height: 100%;
  float: none;
  display: initial;
} */

/* .container {
  width: 100%;
  float: none;
  display: initial;
  padding-left:  1rem;
  padding-right: 1rem;
  margin: 0 auto;
} */
