{{ define "main" -}}

{{- end }}


{{ define "main" -}}
<div class="homepage-content">
  <h1 class="content-header">
    {{.Title}}
  </h1>

  <div class="content-body">
    <ul class="content-body-list">
      {{ range .Data.Pages -}}
        <li>
          <strong>Note: </strong>The following page is a work in progress. This page will be updated more in detail when AGO V3 releases.
          You can see an example of what a faction page will look like below.
          <br>
          <span><a class="list-item" href="{{ .Permalink }}">{{ .Title }}</a></span>
        </li>
      {{- end }}
      </ul>
  </div>
</div>
{{- end }}
