<div id="info">
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/three.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/ColladaLoader.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/OrbitControls.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/DDSLoader.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/model.js"></script>

  <!-- <input id="file-upload-input" type="file" name="files[]" multiple="" class="inputfile" /> -->
  <div id="background-select-label">
    Background
  </div>
  <select id="background-select">
    <!-- <option class="background-select-content" id="Black" value="Black">Black</option> -->
    <option class="background-select-content" id="Mordor" value="Mordor">Mordor</option>
    <option class="background-select-content" id="Dorwinion" value="Dorwinion">Dorwinion</option>
    <option class="background-select-content" id="Minas_Tirith" value="Minas Tirith">Minas Tirith</option>
    <option class="background-select-content" id="Dunland" value="Dunland">Dunland</option>
    <option class="background-select-content" id="Ered Luin" value="Ered Luin">Ered Luin</option>
    <option class="background-select-content" id="Umbar" value="Umbar">Umbar</option>
    <option class="background-select-content" id="Bree" value="Bree">Bree</option>
    <option class="background-select-content" id="Fangorn" value="Fangorn">Fangorn</option>
  </select>

  <div id="model-select-label">
    Model
  </div>
  <select id="model-select">
    <option class="background-select-content" id="Ruffians" value="Ruffians">Ruffians (Variation 1)</option>
    <option class="background-select-content" id="Ruffians" value="Ruffians_2">Ruffians (Variation 2)</option>
    <option class="background-select-content" id="Ruffians" value="Ruffians_3">Ruffians (Variation 3)</option>
    <!-- <option class="background-select-content" id="Dunland" value="Wulfingir">Wulfingir</option> -->
  </select>

</div>