<div id="info">
  <input id="file-upload-input" type="file" name="files[]" multiple="" class="inputfile" />
  <select id="background-select">
    <option class="Mordor" value="Mordor">Mordor</option>
    <option class="Dorwinion" value="Dorwinion">Dorwinion</option>
    <option class="Minas_Tirith" value="Minas Tirith">Minas Tirith</option>
    <option class="Dunland" value="Dunland">Dunland</option>
  </select>

  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/three.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/ColladaLoader.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/three/OrbitControls.js"></script>
  <script type="text/javascript" rel="javascript" src="{{ .Site.BaseURL }}js/model.js"></script>

</div>