{{ define "main" -}}

{{- end }}


{{ define "main" -}}
<div class="homepage-content">
  <h1 class="content-header">
    {{.Title}}
  </h1>

  <div class="content-body">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    <ul class="posts">
      {{ range .Data.Pages -}}
        <li>
          <span><a class="list-item" href="{{ .Permalink }}">{{ .Title }}</a></span>
        </li>
      {{- end }}
      </ul>
  </div>
</div>
{{- end }}
