<aside class="sidebar">
    <img id="agoIcon" src="https://i.imgur.com/QqeiEUQ.png" width="225" height="225">
    <a href="{{ .Site.BaseURL }}" class="title">
      <!-- <h1>{{ .Site.Title }}</h1> -->
    </a>
    <p class="lead">
      {{ with .Site.Params.description }} {{end}}
    </p>

  <nav>
    <ul class="sidebar-nav">
      <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
      <li><a href="{{ "features" | relURL }}"> Features </a></li>
      <li><a href="{{ "previews" | relURL }}"> Previews </a></li>
      <li><a href="{{ "unit_gallery" | relURL }}"> Unit Gallery </a></li>
      <!-- <li><a href="{{ "factions" | relURL }}"> Factions </a></li> -->
      <li><a href="{{ "download" | relURL }}"> Download </a></li>
      <li><a href="{{ "faq" | relURL }}"> FAQ </a></li>
      <li><a href="{{ "credits" | relURL }}"> Credits </a></li>
    </ul>
    <a href="https://discord.gg/zygvJ64Q83">
      <img class="discordEmbed" src="https://img.shields.io/discord/759414542240972840?color=d18b29&label=Discord&style=for-the-badge"/>
    </a>
  </nav>

  <p class="sidebar-bottom">"All that is gold does not glitter,
    not all those who wander are lost"<br>- J.R.R Tolkien</p>
</aside>