<aside class="sidebar">
    <img src="https://i.imgur.com/QqeiEUQ.png" width="225" height="225">
    <a href="{{ .Site.BaseURL }}" class="title">
      <!-- <h1>{{ .Site.Title }}</h1> -->
    </a>
    <p class="lead">
      {{ with .Site.Params.description }} {{end}}
    </p>

  <nav>
    <ul class="sidebar-nav">
      <li><a href="{{ .Site.BaseURL }}">Home</a> </li>

      <li><a href="{{ "features" | relURL }}"> Features </a></li>
      <li><a href="{{ "factions" | relURL }}"> Factions </a></li>
      <li><a href="{{ "download" | relURL }}"> Download </a></li>
      <li><a href="{{ "faq" | relURL }}"> FAQ </a></li>
      <li><a href="{{ "model" | relURL }}"> Model Gallery </a></li>
      <li><a href="{{ "credits" | relURL }}"> Credits </a></li>
    </ul>
  </nav>

  <p class="sidebar-bottom">"All that is gold does not glitter,
    not all those who wander are lost"<br>- J.R.R Tolkien</p>
</aside>