{{ define "main"}}
    <main class="main-404">
      <div>
       <div class="content-404">
        <img src="https://i.imgur.com/dPhKVcB.png" width="300" height="300">
        <br>
        <br>

        This page does not exist

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>
          If you think this should be a page and are interested in making it so, reach out in Discord at Medik#0001
        </p>


        <h2 class="title-404"><a href="{{ "/" | relURL }}">Go Home</a></h2>

       </div>
      </div>
    </main>
{{ end }}