{{ define "main" }}
<!-- <main aria-role="main"> -->
<!-- <header class="homepage-header">
        <div class="homepage-content">
          <h1>{{.Title}}</h1>
        </div>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header> -->
<div class="homepage-background">
  <div class="homepage-content-wrapper">
    <div class="homepage-content">
      <h1 class="content-header">
        {{.Title}}
        <br>
        AI and Gameplay Overhaul
      </h1>

      <div class="content-body">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
    </div>
  </div>
</div>

<!-- </main> -->
{{ end }}